<% title "My Content" %>

<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner center">
        <div class="item active">
          <img src="http://images4.fanpop.com/image/photos/17300000/Metallica-metallica-17311296-1600-1200.jpg" alt="">
          <div class="container center">
            <div class="carousel-caption">
              <h1>Photos</h1>
              <p class="lead">View your Photos!</p>
              <a class="btn btn-large btn-primary right" href="#">View</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://images6.fanpop.com/image/photos/32200000/metallica-metallica-32272631-800-640.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Covers and Remixes</h1>
              <p class="lead">View your Covers and Remixes!</p>
              <a class="btn btn-large btn-warning" href="#">View</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://images.fanpop.com/images/image_uploads/Metallica-metallica-150433_850_600.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Live Performances</h1>
              <p class="lead">View your favourited live performances</p>
              <a class="btn btn-large btn-primary" href="#">View</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
<br />
<%= render 'form' %>
